n8n/workflows/lead-intake.json
{
  "name": "Lead Intake",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook - lead.intake.requested",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1060,
        260
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "2",
      "name": "Validate lead schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        260
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "for (const item of items) {\n  const root = ['event_id', 'event_type', 'tenant_id', 'correlation_id', 'payload'];\n  const payloadFields = ['lead_id', 'category', 'location'];\n  for (const f of root) if (!item.json[f]) throw new Error(`schema_validation_error: missing ${f}`);\n  for (const f of payloadFields) if (!item.json.payload?.[f]) throw new Error(`schema_validation_error: missing payload.${f}`);\n}\nreturn items;"
      }
    },
    {
      "id": "3",
      "name": "Normalize taxonomy + location",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        260
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "return items.map((item) => {\n  const payload = item.json.payload;\n  payload.category = String(payload.category).trim().toLowerCase();\n  payload.location.normalized = `${payload.location.city || ''},${payload.location.state || ''}`.replace(/,$/, '');\n  item.json.payload = payload;\n  return item;\n});"
      }
    },
    {
      "id": "4",
      "name": "Enrich third-party signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/leads/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-correlation-id",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event\":$json}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      }
    },
    {
      "id": "5",
      "name": "Persist lead + lifecycle event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/leads/intake",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-correlation-id",
              "value": "={{ $('Webhook - lead.intake.requested').item.json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event\":$json}"
      }
    },
    {
      "id": "6",
      "name": "Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        40,
        260
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.decision || 'rejected' }}",
              "operation": "equal",
              "value2": "qualified"
            }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Emit lead.qualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"lead.qualified\",\"source\":\"n8n.lead_intake\",\"payload\":$json}"
      }
    },
    {
      "id": "8",
      "name": "Emit lead.rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"lead.rejected\",\"source\":\"n8n.lead_intake\",\"payload\":$json}"
      }
    },
    {
      "id": "9",
      "name": "Respond accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        520,
        260
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"accepted\",\"workflow\":\"lead_intake\",\"correlation_id\": $('Webhook - lead.intake.requested').item.json.correlation_id}"
      }
    }
  ],
  "connections": {
    "Webhook - lead.intake.requested": {
      "main": [
        [
          {
            "node": "Validate lead schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate lead schema": {
      "main": [
        [
          {
            "node": "Normalize taxonomy + location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize taxonomy + location": {
      "main": [
        [
          {
            "node": "Enrich third-party signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich third-party signals": {
      "main": [
        [
          {
            "node": "Persist lead + lifecycle event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist lead + lifecycle event": {
      "main": [
        [
          {
            "node": "Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualified?": {
      "main": [
        [
          {
            "node": "Emit lead.qualified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit lead.rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit lead.qualified": {
      "main": [
        [
          {
            "node": "Respond accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit lead.rejected": {
      "main": [
        [
          {
            "node": "Respond accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Dead-letter Handler"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "1.0.0",
    "owner": "Automation Engineering",
    "runbook": "https://internal.runbooks/lead-intake"
  }
}
