n8n/workflows/marketplace-agent-support-triage.json
{
  "name": "Marketplace Support Triage",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook - marketplace.support.ticket.created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-700, 200],
      "parameters": { "httpMethod": "POST", "path": "marketplace-agent-support-triage", "responseMode": "responseNode" }
    },
    {
      "id": "2",
      "name": "Create A8 task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-460, 200],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/marketplace-agents/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tenantId\":$json.tenant_id,\"agentCode\":\"A8_SUPPORT_DISPUTE_TRIAGE\",\"source\":\"workflow\",\"priority\":$json.payload.priority || \"high\",\"summary\":\"Support or dispute request\",\"input\":$json.payload}"
      }
    },
    {
      "id": "3",
      "name": "Respond accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [-220, 200],
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"accepted\",\"agent\":\"A8\"}" }
    }
  ],
  "connections": {
    "Webhook - marketplace.support.ticket.created": { "main": [[{ "node": "Create A8 task", "type": "main", "index": 0 }]] },
    "Create A8 task": { "main": [[{ "node": "Respond accepted", "type": "main", "index": 0 }]] }
  }
}
