n8n/workflows/marketplace-agent-quote-advisor.json
{
  "name": "Marketplace Quote Advisor",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook - marketplace.quote.batch.received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-700, 200],
      "parameters": { "httpMethod": "POST", "path": "marketplace-agent-quote-advisor", "responseMode": "responseNode" }
    },
    {
      "id": "2",
      "name": "Create A4 task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-440, 200],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/marketplace-agents/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tenantId\":$json.tenant_id,\"agentCode\":\"A4_QUOTE_COMPARISON_ADVISOR\",\"source\":\"workflow\",\"summary\":\"Quote batch ready for comparison\",\"input\":$json.payload}"
      }
    },
    {
      "id": "3",
      "name": "Respond accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [-180, 200],
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"accepted\",\"agent\":\"A4\"}" }
    }
  ],
  "connections": {
    "Webhook - marketplace.quote.batch.received": { "main": [[{ "node": "Create A4 task", "type": "main", "index": 0 }]] },
    "Create A4 task": { "main": [[{ "node": "Respond accepted", "type": "main", "index": 0 }]] }
  }
}
