n8n/workflows/provider-dispatch-routing.json
{
  "name": "Provider Dispatch Routing v1",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook - provider.dispatch.requested",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-900, 240],
      "parameters": {
        "httpMethod": "POST",
        "path": "provider-dispatch-routing",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "2",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-680, 240],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "for (const item of items) {\n  if (!item.json.runId || !item.json.quoteRequestId || !Array.isArray(item.json.dispatches)) {\n    throw new Error('invalid_dispatch_payload');\n  }\n}\nreturn items;"
      }
    },
    {
      "id": "3",
      "name": "Split dispatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-460, 240],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "4",
      "name": "POST provider quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.payload.endpointUrl || 'http://provider-adapter:8080/quote' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"dispatchId\":$json.id,\"quoteRequestId\":$json.quoteRequestId,\"providerId\":$json.providerId,\"payload\":$json.payload}",
        "options": {
          "timeout": 25000,
          "retry": {
            "enabled": true,
            "maxTries": 5,
            "waitBetweenTries": 15000,
            "backoff": true
          }
        }
      }
    },
    {
      "id": "5",
      "name": "Record dispatch outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 240],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"provider.dispatch.outcome\",\"payload\":$json}"
      }
    },
    {
      "id": "6",
      "name": "Has more?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 240],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node['Split dispatches'].context['noItemsLeft'] === false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Emit completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 340],
      "parameters": {
        "method": "POST",
        "url": "http://api:4000/api/v1/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"provider.dispatch.completed\",\"payload\":$json}"
      }
    },
    {
      "id": "8",
      "name": "Respond accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [640, 340],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"accepted\",\"workflow\":\"provider_dispatch_routing_v1\"}"
      }
    }
  ],
  "connections": {
    "Webhook - provider.dispatch.requested": { "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]] },
    "Validate payload": { "main": [[{ "node": "Split dispatches", "type": "main", "index": 0 }]] },
    "Split dispatches": { "main": [[{ "node": "POST provider quote", "type": "main", "index": 0 }]] },
    "POST provider quote": { "main": [[{ "node": "Record dispatch outcome", "type": "main", "index": 0 }]] },
    "Record dispatch outcome": { "main": [[{ "node": "Has more?", "type": "main", "index": 0 }]] },
    "Has more?": {
      "main": [
        [{ "node": "Split dispatches", "type": "main", "index": 0 }],
        [{ "node": "Emit completion", "type": "main", "index": 0 }]
      ]
    },
    "Emit completion": { "main": [[{ "node": "Respond accepted", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "version": "1.0.0",
    "owner": "Automation Engineering"
  }
}
